<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <meta charset="utf-8">
    <meta name='viewport', content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/javascripts/script.js" defer></script>
  </head>
  <body>
    <nav role="navigation">
      <h1><a href="/">Library</a></h1>
      <div class="menu-icon"><svg xmlns="http://www.w3.org/2000/svg" class="svg" fill="none" viewBox="0 0 24 24"
          stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
        </svg></div>
      <ul class="nav-ul menu-items menu">
        <li><a href="/catalog">Home</a></li>
        <li><a href="/catalog/books">Books</a></li>
        <li><a href="/catalog/authors">Authors</a></li>
        <li><a href="/catalog/genres">Genres</a></li>
        <li><a href="/catalog/bookinstances">Bookinstance</a></li>
        <li><a href="#">Create </a>
          <ul class="dropdown">
            <li><a href="/catalog/author/create">Create new author</a></li>
            <li><a href="/catalog/genre/create">Create new genre</a></li>
            <li><a href="/catalog/book/create">create new book</a></li>
            <li><a href="/catalog/bookinstance/create">Create new bookinstance</a></li>
          </ul>
        </li>
      </ul>
    </nav>
    <main>
      {{{body}}}
    </main>
  </body>
</html>
